@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        body {
            line-height: 1;
            color: #333;
            height: 100%;
            font: 14px 'Noto Sans KR', sans-serif;
        }

        ul,
        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #787878;
        }

        img {
            border: none;
            vertical-align: top;
        }
        label, input, button{
            border: none;
            outline: none;
            background: transparent;
        }

        header{
            border-bottom: 2px solid #262626;
            text-align: center;
            padding: 30px 0;
        }

        .sec3{
            width: 100%;
            height: calc(100%);
            border:1px solid #F00;
            position: relative;
            margin-top: 50px;
        }
        .slide_con{
            width: 1200px;
            height: 600px;
            margin: 0 auto;
            border: 1px solid #0f0;
            position: relative;
        }
        .slide_over{
            width: 900px;
            height: 520px;
            border: 1px solid #00f;
            margin: 0 auto;
            overflow: hidden;
        }
        ul.slide{
        
            width: 250%;
            height: 520px;
            display: flex;
            border: 1px solid red;
           
        }
       
        .slide li{
            width:40%;/* 360 -280 =80px 양옆으로 40px씩 이미지 보임 */
            height: 600px;
            overflow: hidden;
            transition: 0.2s;
           /*  opacity: 0; */
           
        }
        .slide li.on{
            opacity: 1;
        }
        .slide li:hover .figcaption{
            
            position: absolute;
            overflow: hidden;
            transition: 0.2s;
            left: 0;top: 0;
            z-index: 5; 
           
        }
       
        .slide li:hover .figcaption{
            opacity: 1;
        }
        .slide li > div{
            width: 98%;
            height: 600px;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            border: 1px solid #fcf;
        }
        .slide > li>div> img{
            display: block;
            width: 100%;
            height: 100%;
        }
      
        
        /* 이미지 모두 다 넣겠습니다. */
        .slide li  .person1_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/contents_1.png) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person2_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/contents_2.png) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person3_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/contents_3.png) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person4_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/contents_4.png) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person5_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/1656394696711_220523_seulmit1_0189cut.jpg) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person6_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/1635218463859_210927_seulmit4282_low_cut.jpg) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person7_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/1640594434322_211125seulmit0056cut.jpg) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slide li  .person8_img{
            width: 100%;
            height:550px;
            transition: 0.3s;
            background-image: url(../image/1632961271409_cholowlow.jpg) ; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        /* 이미지 모두 다 넣었습니다 */
        .slide li .person{

        }
        .slide li:hover .person:after{
            content: "";
            width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           left: 0;
           z-index: 0;
           background-color: rgba(0,0,0,0.4);
           
        }
        .slide li:hover .person1_img{
            background-image: url(../image/1649740079618_220223_seulmit6704_cut.jpg);
        }
        .slide li:hover .person2_img{
            background-image: url(../image/1651212500318_220329seulmit51462.jpg);
        }
        .slide li:hover .person3_img{
            background-image: url(../image/1653983694378_220418seulmit0008cut.jpg);
        }
        .slide li:hover .person4_img{
            background-image: url(../image/1649740309821_low220202_seulmit2226.jpg);
        }
        .slide li:hover .person5_img{
            background-image: url(../image/1653983694378_220418seulmit0008cut.jpg);
        }
        .slide li:hover .person6_img{
            background-image: url(../image/1638237790243_211026seulmit5142small.jpg);
        }
        .slide li:hover .person7_img{
            background-image: url(../image/1640594424730_211125seulmit0002m.jpg);
        }
        .slide li:hover .person8_img{
            background-image: url(../image/1656396062581_220523_seulmit1_0119cut.jpg);
        }


        .figcaption{
            position: absolute; 
            top: 0;left: 0;
            width:85%;/* 360 -280 =80px 양옆으로 40px씩 이미지 보임 */
            height: 500px;
           
            margin-top: 40%;
            margin-bottom: 0px;
            z-index: 30;
            color: #fff;
            padding: 10px 10px 10px 20px;
            opacity: 0;
        }
        .slide li:hover .figcaption{
            opacity: 1;
        }
        .figcaption strong{
            font-size: 26px;
            height: 120px;
            line-height: 150%;  
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
        }
        .figcaption .strong2{
            margin-top: 40px;
        }
        .figcaption .strong3{
            margin-top: 0px;
        }
        .figcaption span{
            height: 80px;
            font-size:20px;
            line-height: 180%;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .figcaption p{
            height: 100px;
            font-size:16px;
            color: #fff;
            margin-bottom: 30px;
        }
        .figcaption a{
            
            display: block;
            font-weight: bold;
            color: #fff;
            z-index: 100;
        }
   .figcaption a:hover{
            text-decoration: underline;
          
        }



        
        
        /* 좌우버튼 */
        .prev, .next{
            display: block;
            width: 48px;
            height: 48px;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto;
            text-indent: -9999px;
        }
        .prev{
            background-image: url(../image/arrow1.png) ;
          transform: translateX(-530px);
          background-size: 48px;        
        }
        .next{
            background-image: url(../image/arrow2.png) ;
            transform: translateX(530px);
            background-size: 48px;
            
        }
       
        /*블릿기호*/
        .dot_con {
            position: absolute;/*slide_con 영역 안에서 절대배치*/
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            width: 100px;
        }
        
        .dot_con span {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid #333;
            border-radius: 50%;
            color: transparent;
            cursor: pointer;
            z-index: 5;
        }
        
        .dot_con span.on {
            background-color: #333;
        }
        
        .dot1 {
            left: 0;
        }
        
        .dot2 {
            left: 30px;
        }
        
        .dot3 {
            left: 60px;
        }
        
        .dot4 {
            left: 90px;
        }
        