
@media screen and (max-width:375px){
  .header_event{
      width:100%;
      height: 34px;
      background: #F6F6F6;
      z-index: 5;
      position: fixed;
     
  }
  
  .header_event .event{
     width: 100%;
    
      text-align: center;
      line-height: 32px;
      font-size: 12px;
      font-weight: bold;
      position: relative;
  }
  
  .event .close_btn{
      display: block;
      width: 24px;
      height: 24px;

      position: absolute;
      top: 5px;
      right: 8px;
      margin:  0 0px;
      box-sizing: border-box;
      line-height: 34px;
      
      
  }
  
  .event .close_btn img{
      display: block;
      width: 24px;
      height: 24px;
  }
  
  .header_wrap{
    position: relative;
      width: 100%;
      height: auto;
     
      position:fixed;
      left: 0;
      z-index: 100;
      display: flex;
      justify-content: space-between;
      /* align-items: center; 
      */   
  }
  
  .header_menu{
      width: 90%;
      height: 65px;
      margin: 0 auto;
      display: flex;
      align-items: center;
  }

  .hamberger{
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 10px;
    left: 10px;
    
  }

  .hamberger img{
    width: 100%;
  }

/* 로고 부분입니다.  */
.logo{
  width: 140px;
  height: auto;
  /* margin: 0 auto; */
  margin-left: 0;
  margin-right: 0;
  
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);  
}

.logo img{
  width: 100%;
  /* margin-right: 27px;    */
}

.gnb{
  display: none;

}
.header_menu .gnb ul{

  margin-right: 27px;
  display: flex;
  align-items: center;
}

.header_menu .gnb ul li{

  font-size: 16px;
  text-align: center;
  margin-right: 27px; 
  display: flex;
  font-weight: bold;
  
 
  
}

.gnb{
  width: 77px;
  float: left;
}

.gnb ul{
  height: 47px;
  float: left;
  margin-right: 21px;
  font-weight: 500;
  
}

.gnb ul li{

}

.gnb ul li a{
  font-size: 20px;
  text-align: center;
  align-items: center;
  /* alin-items */
}
.gnb ul li a:hover{
 color: #fff;
}

.setting{
  display: none;
}

/* .setting .login{
  width: 140px;
  display: flex;
  justify-content: space-between;
  height: 65px;
  margin: 0 auto;
  align-items: center;
  
  padding-left: 12px;
  padding-right: 12px;
  display: none;

 
}
.setting .login a:hover{
  color: #fff;
}

.setting .member{
  width: 200px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  display: none;

}

.setting .member img{
  width: 24px;
  height: 24px;
  margin-right: 21px;
} */

/* 끝났습니다. */

.header_image_wrap{
  width: 375px;
  height: 210px;
  
}


.header_image_wrap > .header_image> a> img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.5s;
  /* margin-top: 150px; */
  /* border: 1px solid #f00; */
}

  /*메인의 상단 바 입니다. */
  .contains{
    position: relative;
    width: 95%;
    height: 41px;
    margin-left: 0;
    margin: 0 auto;

  }
  
  
  /* block_wrap 입니다.  */
  
  .contains .block_wrap{
    display: flex;
    position: relative;
    width: 100%;
    height: 41px;  
    top: 15px;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    flex-direction: column;
    
  }
  .contains .block1 a{
    color: #fff;
    justify-content: center;
    line-height: 35px;
  }
  .contains .block1 a:hover{
    text-decoration: underline;
  }
  .contains .block1 img{
   width: 24px;
   height: 24px;
   margin-right: 10px;
   margin-top: 8px;
  }
  .block1 a{
    transition: 0.5s
  }
  .block1 a:hover img{
    transform:scale(1.2);
  }
  .contains .block2{
    display: none
  }
  .contains .block2 .symbol{
    width: 70%;
    height: 41px;
    display: flex;
    margin-right: 15px;
  }s
  .contains .block2 .symbol > a{
    width: 100%;
    justify-content: center;
    height: 41px;
    display: flex;
    color: #fff;
    border: 2px solid #fff;
    font-size: 15px;
    border-radius: 42px;
    margin-right: 0%;
    /* margin-top: 5px; */
    text-align: center;
    line-height: 41px;
  }
  
  .contains > .block_wrap > .block2  .symbol .image_box{
    background: url(../image/seb/symbol_1.png)no-repeat center / cover;
    width: 41px;
    height: 41px;  
  }
  .contains > .block_wrap > .block2  .symbol:hover a {
    background: #000;
    color: #fff;
    border: 1px solid #000;
  }
  .contains > .block2 .seb{
    width: 13%;
    height: 41px;
    padding: 4px;
  }
  
  .contains .block2 .seb .image_box{
    background: url(../image/seb/more.png)no-repeat center center /cover;
    width: 41px;
    height: 41px;
    margin-top: 0;
    margin-right: 0; 
  }
  .contains .block2 .seb .image_box:hover{
    background: url(../image/seb/more_color.png)no-repeat center center /cover;
    width: 41px;
    height: 41px;
    margin-top: 0;
    margin-right: 0; 
  }
  
  
  /* 복사했습니다. */
  
  .logo_white{
    position: absolute;
    width: 30%;
    height: auto;
    margin-left: 65.5%;
    z-index: 10;
    margin-top: 10%;
    
    
  }
  
  .logo_white img{
    width: 100%;
    height: 100%;
  }
  
  
  
  /* One and Only 부분입니다. */
  
  .con1{
    /* margin-top: 180px; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 103px;
    top: 20%;
   
  }
  
  /* block_wrap 입니다.  */
  .con1 .block_wrap{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: auto;  
   
    margin-bottom: 10%;
    margin-right: 0px;
    margin-left: 0px;
    margin: 0 auto;
    

  }
  .group_wrap .block1{
    display: none;
  }
 
  .group_wrap .block2{
    
    width: 70%;
    height: 41px;
    display: flex;
    margin-left:35%;
    margin-bottom: 10%;
  }
  .group_wrap .block2 .symbol{
    width: 90%;
    height: 41px; 
    margin-right: 20px; 
  
  }

  .group_wrap .block2 .symbol > a{
    /* position: relative; */
    display: block;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 41px;
    color: #000;
    border: 2px solid #000;
    font-size: 15px;
    border-radius: 42px;
    margin-right: 20%;
    text-align: center;
    line-height: 41px;
  }
  
  
  .group_wrap > .block_wrap > .block2  .symbol .image_box{
  
    background: url(../image/seb/symbol.png)no-repeat center center /cover;
    width: 41px;
    height: 41px;
    
  }
  .block_wrap > .block2  .symbol:hover a {
    background: url(../image/seb/symbol_1.png)no-repeat center center /cover;
    background: #000;
    color: #fff;
  }
  .block_wrap > .block2  .symbol:hover .image_box{
    background: url(../image/seb/symbol_1.png)no-repeat center center /cover; 
  }
  
  .con1  .block2 .seb .image_box{
    background: url(../image/seb/more_2.png)no-repeat center center /cover;
    width: 41px;
    height: 41px;
    margin-top: 0;
    margin-right: 0; 
  }
  .con1 .block2 .seb .image_box:hover{
    background: url(../image/seb/more_color.png)no-repeat center center /cover;
    width: 41px;
    height: 41px;
    margin-top: 0;
    margin-right: 0; 
  }
  
  
  .block2 .seb{
    width: 41px;
    height: 41px;
    height: 41px;
    padding: 0px;
    margin-top: -10;
    margin-left: 4px;
  }
  
   .block2 .seb img{
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  
  
  
  
  
  
  /*  One and Only 컨텐츠 부분입니다.  */
  .groups_wrap{
    /* display: flex; */
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    margin-top: 10%;
   
  }
  
  .groups_wrap .group1{
    width: 50%;
    height: 50%;
    margin: 0;
    display: flex;
    background: url(../image/seb/Rectangle_407.png) no-repeat center top / cover;
    margin-bottom: 20%;
    
    margin-right: 10px;

  }
  
  .groups_wrap .group1 .text_box{
    width: 100%;
    height: auto; 
    margin-top: 0;
    margin-left: 100%;

    
  }
  
  .groups_wrap strong{
    display: block;
    font-size: 28px;
    font-weight: 400;
    margin-bottom:8px;
  }
  
  .groups_wrap p{
    margin-top: 4px;
    font-size: 16px;
  }
  
  .groups_wrap .group2{
    width: 100%;
    height: auto;
    margin-top: 63px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }
  
  .groups_wrap .group2 h1{
    font-size: 50px;
    line-height: 160%;
    margin-bottom: 16px;
  }   
  
  .groups_wrap .group2 p{
    display: block;
    width: 80%; 
    margin: 0 auto;
    margin-bottom: 0;
  } 
  .button{
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid #BEA88F;
    border-radius: 52px;
    width: 188px;
    height: 52px;
  }
  .button:hover{
    background-color: #BEA88F;
 
  }
  
  .button a{
    display: block;
    font-size: 14px;
    color:#bea88f;
    line-height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;  
  }
  .button:hover a{
    color: #fff;
  }
  
  .button .image_box{
    width: 24px;
    height: 24px;
    background: url(../image/seb/right_arrow.png)no-repeat center center /cover;
    margin-top: 12px;
  }
  
  .button:hover .image_box{
    background: url(../image/seb/bi_arrow-white.png)no-repeat center center /cover;
  }
  
  .groups_wrap .group2 span{
    font-size: 18px;
  }
  
  .groups_wrap .group3{
    width: 50%;
    height: auto;
    margin: 0;
    margin-top: 20%;
    display: flex;
    background: url(../image/seb/Group_275.png) no-repeat center top / cover;
    
  }
  
  .groups_wrap .group3 .text_box{
    height: auto;
    margin-top: 0px;
    margin-left: 100%;
    font-size: 13px;
    
  }
  
  
  /* 컨텐츠2입니다. */
  .con2{
    display: block;
    width: 95%;
    
    margin: 0 auto;
    margin-bottom: 20%;


  }
  
  .text_boxs{
    text-align: center;
  }
  
  .text_boxs strong{
    display: block;
    margin-bottom: 14px;
  }
  
  .dumy{
    display: contents;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8px;
    display: flex;
    text-align: 20%;
    /* border: 1px solid blue; */
   
  }
  .con2 strong{
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
  }
  .con2 p{
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
  }
  
  
  .first .image_wrap{
    display: block;
    width: 100%;
    height: 550px;
    position: relative;
    margin: 0 auto;
    margin-top: 20%;
  
  }
  
  
  .background{
    display: block;
    background: url(../image/seb/Rectangle_412.png) no-repeat center center / cover ;
    width: 100%;
    height: 440px;
    top: 20%;
    left: 0;
    z-index: 0;
   
  }
  
  .background_box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;left: 0;
    z-index: 1;
    margin-bottom: 89px;
    /* background: linear-gradient(180deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,1) 100%); */
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 51%, rgba(0,0,0,1) 100%);
    
    
    
  }
  
  .incense{
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 10;
    margin-top: 89px;
    right: 30px;
    margin: 0 auto;
    /* transform: translateX(-50% -50%); */
   
    
  }
  .incense img{
    width: 100%;
    /* transform: scale(1.33882) translateY(-15.2467px); */
  }
  
  .background .text1{
    position: absolute;
    top: 43%;
    left: 12%;
    font-size: 14px;
    z-index: 10;
    color: #fff;
  
  }

  .incense .text2{
    position: absolute;
    width: 100%;
    bottom: -80%;
    left: 0;
    font-size: 16px;
    color: #fff;
    text-align: left;
   
  }
  
  
  
  .text p{
    font-size: 17px;
    color: #000;
  }
  
  
  
  
  /* 컨텐츠3입니다.(con3)부분입니다. */
  .con3{
    width: 100%;
    margin-bottom: 20%;
  }
  .con3 .text_box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
   
    
    margin-bottom: 89px;
  }
  .con3 .text_box strong{
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 8px;
    
  } 
  
  .con3 .text_box h1{
    font-size: 50px;
  }
  
  .box_wrap{
    
    width: 96%;
    /* margin: 0 auto; */
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
  }
  
  .box_wrap> div >a {
    display: block;
   width: 85%;
   height: auto;
   margin: 0 auto;
   
   
  }
  .box_wrap> div >a img{
    width: 100%;
  }
  
  .box_wrap .box1{
    margin-bottom: 10%;
  }
  .box_wrap .box2 {
    margin-bottom: 10%;
  }
  .box_wrap .box3{
    margin-bottom: 10%;
  }

  .box1 img:hover{
    transform: scale(1.05);
  }
  .box2 img:hover{
    transform: scale(1.05);
  }
  .box3 img:hover{
    transform: scale(1.05);
  }
  
  .box_wrap h3{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 34px;
    font-weight: 550;
    
    
  }
  .box_wrap .click{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-right: 0px;

  }
  .click p{ 
    width: 80%;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    
    
  }
  
  
  .click a{
    width: 20%;
    margin-top: 0px;
    transition: 0.5s;

  }
  
  
  .click a .image_box{
    background: url(../image/seb/right_arrow_black.png) no-repeat ;
    width: 100%;
    height: 100%;
  }
  
  .click a:hover .image_box{
    display: block;
    background: url(../image/seb/right_arrow_color.png) no-repeat ;
    transform: scale(1.1);
  }

/* 푸터부분입니다. */


.footer{
  width: 94%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

/* 그룹 1입니다 */
.group1{
  width: 100%;
  margin: 0 auto;
  flex: 1;
  height: auto;
  margin-left: 0px;
  margin-bottom: 20%;
}
.group1> .textbox{
  width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: 0px;
  font-size: 13px;
}
.select_box select{
  width: 200px;
  height: 52px;
  margin-top: 15px; 
  border: 1px solid black; 
  background: url('../image/arrow3.png') no-repeat 95% 50%;
  background-size: 18px; 

   /* display: none; */
   -webkit-appearance: none; -moz-appearance: none;

}

select::-webkit-expand {
  display: none;}

select::-ms-expand {
  display: none;
}
  
/* 그룹2입니다. */
.group2{
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  
}



.group2> .subject1{
  width: 93%;
  height: auto;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  line-height: 110%;
   
}

.group2> .subject1 >.sub1{
  display: flex;
  margin-bottom: 14px;
  font-size: 15px;
 
}

.group2> .subject1 >.sub2,.group2> .subject1 >.sub3 {
  display: flex;
  margin-bottom: 4px;
}



.group3> .subject1 >.sub1{
  display: flex;
  margin-bottom: 10px;

}

.group3> .subject1 >.sub2,.group3> .subject1 >.sub3,.group3> .subject1 >.sub4 {
  display: flex;
  margin-bottom: 8px;
 
}

.group2> .subject2{
  width: 93%;
  height: auto;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0x;
  font-size: 12px;
   
}

.group2> .subject2 >.sub1{
  display: flex;
  margin-bottom: 10px;
  font-size: 15px;

}

.group2> .subject2 >.sub2,.group2> .subject2 >.sub3,.group2> .subject2 >.sub4,.group2> .subject2 >.sub5  {
  display: flex;
  margin-bottom: 4px;

}



/* 그룹3입니다 */

.group3{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  
 
  
}
.group3> .subject1{
  width: 50%;
  height:auto;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  line-height: 110%;
  display: block;

}
  
.group3> .subject2{
  width: 50%;
  height: auto;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  line-height: 110%;
  display: block;
  
}

.group3> .subject2 >.sub1{
  display: flex;
  margin-bottom: 10px;
}

.group3> .subject2 >.sub2,.group3> .subject2 >.sub3,.group3> .subject2 >.sub4 {
  display: flex;
  margin-bottom: 4px;
  margin-bottom: 10px;
}


/* 슬라이드 메뉴입니다 */



}